header{
	height: 60px;
	background-color: white;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.16);
	font-family: 'Balsamiq Sans', cursive;
}

#name_logo
{
	padding-top: 15px;
	float: left;
	width: 25%;
	font-size:120%;
	height: 60px;
	text-align: center;
}

#exclamatory
{
	color: red;
}

#name
{
	color: #008AE6;
}

@media only screen and (max-width: 768px) {
	#name_logo
{
	padding-top: 20px;
	font-size: 100%;
}

}
