* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f6f6f6;
}

div h2 {
  font-size: 90%;
  font-family: "Balsamiq Sans", cursive;
  margin-top: 20px;
  margin-left: 55px;
}

@media only screen and (max-width: 768px) {
  div h2 {
    margin-left: 0px;
    text-align: center;
  }
}
