* {
  margin: 0px 0px 0px 0px;
  padding: 0px 0px 0px 0px;
  box-sizing: border-box;
  text-decoration: none;
  overflow: auto;
}

::-webkit-scrollbar {
  display: none;
}

body {
  background-color: #f6f6f6;
}
